BasedOnStyle: Microsoft
IndentWidth: 4
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
BreakBeforeInheritanceComma: false
